.footer {
	&__content {
		background: #dfdfdf;
		padding: 60px 0 80px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__info {
		width: 540px;
	}
	&__info-title {
		color: $title;
		@extend %title-font;
		line-height: 23px;
		padding-bottom: 14px;
	}

	&__info-text {
		max-width: 475px;
		margin-bottom: 16px;
	}

	&__form {
		display: flex;
	}

	&__form-input {
		width: 100%;
		padding: 6px 10px 6px 18px;
		border-radius: 21px;
		background-color: transparent;
		border: 1px solid rgba($title, 0.7);
		&::placeholder {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 27px;
			color: #a1a1a1;
		}
	}

	&__form-button {
		min-width: 160px;
		margin-left: 9px;
		padding: 6px 12px;
		background-color: $title;
		border: none;
		color: #fffff0;
		border-radius: 21px;
		font-weight: 600;
		cursor: pointer;
	}

	&__social {
		width: 125px;
		margin-right: auto;
		margin-left: 100px;
	}

	&__social-link {
		padding-left: 28px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 3px;
			left: 0;
			width: 16px;
			height: 16px;
		}
	}
	&__social-link--facebook::before {
		background-image: url(../img/facebook.svg);
	}
	&__social-link--instagram::before {
		background-image: url(../img/instagram.svg);
		width: 14px;
		height: 14px;
		top: 4px;
	}
	&__social-link--pinterest::before {
		background-image: url(../img/pinterest.svg);
	}
	&__social-link--whatsup::before {
		background-image: url(../img/whatsapp.svg);
		width: 14px;
		height: 14px;
	}
	&__social-link--youtube::before {
		background-image: url(../img/youtube.svg);
		width: 18px;
		height: 12px;
		top: 4px;
	}

	&__social-item,
	&__menu-item {
		margin-bottom: 15px;
		font-size: 14px;
		font-weight: 600;
		color: #707070;
	}

	&__social-link,
	&__menu-link {
		color: #707070;
	}

	&__menu {
		margin-right: 60px;
		width: 125px;
	}

	&__copyright {
		background-color: $title;
		color: #a1a1a1;
		text-align: center;
		padding: 42px 0 41px;
	}
}
